:root {
  background-color: rgb(255, 152, 152);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit Variable", sans-serif;
  color: rgb(173, 39, 39);
}

img {
  width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
