*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  background-color: rgb(255, 152, 152);
}

body {
  margin: 0;
  font-family: "Outfit Variable", sans-serif;
  color: rgb(173, 39, 39);
}

img {
  max-width: 100%;
  height: auto;
}
