.container {
  min-height: 100vh;
  min-width: 300px;
}

.main-content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}

.main-header,
.main-content {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  @media (width >= 500px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (width >= 1000px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-title {
  background-color: rgb(255, 236, 236);
  color: rgb(253, 69, 69);
  align-self: center;
  padding: 5px 30px;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
