.container {
  min-height: 100vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}

.main-header,
.main-content {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;

  @media (width >= 500px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (width >= 1000px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-title {
  align-self: center;
  padding: 0 30px;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  font-weight: 500;
}
