.active {
  color: rgb(255, 238, 238) !important;
  background-color: rgb(253, 69, 69) !important;
}

.navigation {
  font-size: 1.7rem;
  display: none;

  @media (width >= 700px) {
    display: flex;
  }
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navigation-list__item {
  padding: 5px 10px;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: rgb(255, 173, 173);

  &:hover {
    color: inherit;
    background-color: rgb(255, 198, 198);
    box-shadow: 3px 3px 4px rgb(142, 75, 75);
  }
}
