.button {
  transition: all 0.3s;
  font-weight: bold;
  text-align: center;
  background: none;

  &:focus {
    outline: 3px solid rgb(54, 67, 255);
  }
}

.button--square {
  padding: 5px 10px;
  background-color: rgb(103, 32, 32);
  color: rgb(255, 255, 255);
  justify-self: flex-end;
  align-self: flex-end;

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(103, 32, 32);
    opacity: 0.5;
  }
}

.button--delete {
  position: absolute;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  right: 15px;
  top: 15px;

  &:hover {
    opacity: 0.5;
  }
}

.button--menu {
  display: inline;
  font-size: 1.8rem;
  background: none;

  &:active {
    outline: none;
  }

  @media (width >= 700px) {
    display: none;
  }
}
