.button {
  background-color: rgb(103, 32, 32);
  transition: all 0.3s;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;

  &:hover {
    background-color: rgb(253, 69, 69);
  }

  &:focus {
    outline: 3px solid rgb(255, 54, 235);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(103, 32, 32);
    opacity: 0.5;
  }
}

.button--square {
  padding: 5px 10px;
  justify-self: flex-end;
  align-self: flex-end;
}

.button--delete {
  position: absolute;
  background-color: red;
  right: 15px;
  top: 15px;

  &:hover {
    opacity: 0.5;
  }
}
