.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.app-logo {
  width: 25px;
  box-shadow: 2px 2px 3px rgb(142, 75, 75);
  transition: all 0.2s;

  &:hover {
    box-shadow: 4px 4px 5px rgb(142, 75, 75);
  }
}

.app-title {
  text-transform: uppercase;
  user-select: none;
}

.app-title--long {
  display: none;

  @media (width >= 500px) {
    display: inline;
  }
}

.app-title--short {
  @media (width >= 500px) {
    display: none;
  }
}
