.monument-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 4px 4px 4px rgb(220, 154, 154);
  padding: 20px;
  align-self: stretch;
}

.monument-form__title {
  font-size: 1.7rem;
  margin: 0;
  text-decoration: underline;
}

.monument-form__fieldset {
  display: grid;
  row-gap: 15px;
  column-gap: 40px;
  border: none;
  padding: 0;

  @media (width >= 850px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.monument-form__label {
  font-weight: bold;
}

.monument-form__input {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(233, 233, 233);
  resize: none;
}
